language: python
python:
  - "3.6"
  - "3.7"

sudo: true

dist: xenial

before_script:
  - echo "deb https://apache.bintray.com/couchdb-deb xenial main" | sudo tee -a /etc/apt/sources.list
  - curl -L https://couchdb.apache.org/repo/bintray-pubkey.asc | sudo apt-key add -
  - sudo apt-get update && sudo apt-get -y install couchdb
  - echo "admin = admin" | sudo tee -a /etc/couchdb/local.ini
  - sudo tail -n 10 /etc/couchdb/local.ini
  - sudo cat /etc/couchdb/local.ini
  - sudo systemctl start couchdb
  - sleep 10
  - curl -X PUT http://admin:admin@127.0.0.1:5984/_users
  - curl -X PUT http://admin:admin@127.0.0.1:5984/_replicator
  - curl -X GET localhost:5984

install:
  - pip install '.[tests]'

script:
  - export COUCHDB_USER=admin
  - export COUCHDB_PASS=admin
  - pytest --cov=aiocouch
